body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

nav {
    background: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

form {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: royalblue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: dodgerblue;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

.bold {
    font-weight: bold;
}

.erro {
    color: red;
    text-align: center;
}

.sucesso {
    color: green;
    text-align: center;
}
